// Services Page Styles
.services-page {
  // Services Component Styles
.services {
  @include section-spacing;
  padding-block: $spacing-3xl;
  background-color: $bg-secondary;

  &__container {
    @include content-container;
  }

  &__header {
    text-align: center;
    margin-block: $spacing-3xl;

    h2 {
      @include heading-2;
      margin-bottom: $spacing-md;
    }

    p {
      @include body-text;
      color: $gray-600;
      max-width: 600px;
      margin: 0 auto;
    }
  }

  &__grid {
    display: grid;
    gap: $spacing-xl;
    grid-template-columns: 1fr;
    
    @include tablet {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: $spacing-lg;
    }
    
    @include desktop {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
}

// Service Card Component
.service-card {
  background: $white;
  border-radius: $radius-xl;
  overflow: hidden;
  box-shadow: $shadow-lg;
  transition: all $transition-normal;
  position: relative;

  &:hover {
    transform: translateY(-8px);
    box-shadow: $shadow-xl;
  }

  &__image {
    position: relative;
    height: 180px;
    overflow: hidden;

    @include desktop; @include tablet{
      height: 180px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  &__content {
    padding: $spacing-md;
    text-align: left;
    position: relative;
  }

  &__title {
    font-family: $font-heading;
    font-size: $font-base;
    font-weight: 600;
    color: $gray-800;
    margin-bottom: $spacing-sm;
    line-height: 1.3;
  }

  &__description {
    color: $gray-500;
    line-height: 1.5;
    margin-bottom: $spacing-md;
    font-size: $font-sm;
  }

  &__link {
    color: $accent-orange;
    font-weight: 600;
    text-decoration: none;
    font-size: $font-base;
    position: relative;
    display: inline-block;
    transition: color $transition-fast;

    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 2px;
      background: $primary-blue;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform $transition-fast;
    }

    &:hover {
      color: $primary-dark;

      &::after {
        transform: scaleX(1);
        background: $primary-dark;
      }
    }
  }
}

.budget{
  @include section-spacing;
  background-color: $gray-50;

  &__container{
    @include content-container;
  }
    &__grid {
      align-items: center;
      margin-block: 2rem;
      display: grid;
      gap: $spacing-xl;
      grid-template-columns: 1fr;
      
      @include tablet {
        grid-template-columns: repeat(2, 1fr);
        gap: $spacing-2xl;
      }
      
      @include desktop {
        gap: $spacing-4xl;
          margin-block: 3rem;
        grid-template-columns: repeat(2, 1fr);
      }
  
      .grid-item{
          &__title{
              color: $gray-800;
              font-size: $font-2xl;
              margin-bottom: $spacing-md;
              position: relative;
              &::before{
                content: "";
                position: absolute;
                height: 500px;
                width: 100px;
                background: url('../../assets/images/two-col-decal.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                top: -100px;
                left: -5px;
                z-index: -10;
                opacity: 0.8;
                transform: rotate(180deg);

                @include desktop ; @include tablet{
                  top: -200px;
                }
            }
          }
          &__description{
              color: $gray-600;
              font-size: $font-sm;
              line-height: 1.6;
              text-align: justify;
              margin-bottom: $spacing-md;
          }
          &__image{
              height: 350px;
              @include tablet {
                  height: 400px;
              }

              @include desktop {
                  height: 500px;
              }
              &::before{
                content: "";
                position: absolute;
                height: 120%;
                width: 30%;
                background: url('../../assets/images/two-col-decal.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                top: -20px;
                right: -10px;
                z-index: -1;

                @include desktop; @include tablet{
                right: -40px;

                }
            }

              img{
                box-shadow: 0 2px 10px #5555;
                border-radius: $radius-xl;
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;
                
                
              }
          }
      }
    }
  }
}
